<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgs.mapper.GoodsMapper">

    <resultMap id="GoodsMap" type="com.wgs.entity.Goods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_name" property="goodsName"/>
        <result column="category_id" property="categoryId"/>
        <result column="desc" property="desc"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="created_id" property="createdId"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="GoodsDTOMap" type="com.wgs.dto.goods.GoodsDTO">
        <result property="id" column="id"></result>
        <result property="name" column="goods_name"></result>
        <result property="desc" column="desc"></result>
        <result property="cover" column="cover"></result>
        <result property="price" column="price"></result>
        <collection property="skuList" column="id" select="findGoodsSkuById"></collection>
    </resultMap>

    <resultMap id="GoodsSkuDTOMap" type="com.wgs.dto.goods.GoodsSkuDTO">
        <result column="sku_id" property="skuId"></result>
        <collection property="goodsSkuInfoList" select="findGoodsSkuInfo" column="{skuId=sku_id,goodsId=goods_id}"></collection>
    </resultMap>

    <resultMap id="GoodsSkuInfoDTOMap" type="com.wgs.dto.goods.GoodsSkuInfoDTO">
        <result column="name" property="name"></result>
        <result column="id" property="id"></result>
        <result column="big_img" property="bigImg"></result>
        <result column="img" property="img"></result>
    </resultMap>

    <resultMap id="GoodsSkuGroupDTOMap" type="com.wgs.dto.goods.GoodsSkuGroupDTO">
        <result column="goods_sku_info_ids" property="goodsSkuInfoIds"></result>
        <result column="price" property="price"></result>
        <result column="goods_id" property="goodsId"></result>
        <result column="lens_color" property="lensColor"></result>
        <result column="spectacles_frame_material" property="spectaclesFrameMaterial"></result>
    </resultMap>
    <!--表名 -->
    <sql id="tableName">
		wgs_goods
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		id,
		goods_name,
		category_id,
		`desc`,
		goods_sn,
		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{goodsName, jdbcType=VARCHAR},
		#{categoryId, jdbcType=INTEGER},
		#{desc, jdbcType=LONGTEXT},
		#{goodsSn, jdbcType=VARCHAR},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

    <!-- 查询全部记录 -->
    <select id="findAll" resultMap="GoodsMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        deleted = 0
    </select>

    <!-- 新增-->
    <insert id="insert" parameterType="com.wgs.entity.Goods" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
        <include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="createdId != null">
                created_id,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="goodsName != null">
                #{goodsName},
            </if>
            <if test="categoryId != null">
                #{categoryId},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
            <if test="goodsSn != null">
                #{goodsSn},
            </if>
            <if test="createdId != null">
                #{createdId},
            </if>
            <if test="modifiedId != null">
                #{modifiedId},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.wgs.entity.Goods">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="desc != null">
                desc = #{desc},
            </if>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn},
            </if>
            <if test="createdId != null">
                created_id = #{createdId},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过编号查询 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="GoodsMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id = #{id}
    </select>

    <select id="findGoodsInfoById" resultMap="GoodsDTOMap">
        SELECT id,goods_name,`desc`,price,cover from wgs_goods where id = #{goodsId} and deleted = 0
    </select>

    <select id="findGoodsSkuById" resultMap="GoodsSkuDTOMap">
        select sku_id,goods_id from wgs_goods_sku where goods_id = #{id}
    </select>

    <select id="findGoodsSkuInfo" resultMap="GoodsSkuInfoDTOMap">
        select id,`name` from wgs_goods_sku_info where goods_id = #{goodsId} and sku_id = #{skuId}
    </select>

    <select id="findGoodsSkuGroupByGoodsId" resultMap="GoodsSkuGroupDTOMap">
        select g.goods_sku_info_ids,g.price,g.goods_id,i.lens_color,i.spectacles_frame_material from wgs_goods_sku_group g
        LEFT JOIN wgs_goods_sku_group_info i
        on g.id = i.sku_group_id
        where goods_id = 1
    </select>

    <select id="findGoodsByCategory" resultMap="GoodsDTOMap">
        SELECT id,goods_name,`desc`,price,cover from wgs_goods where category_id = #{categoryId} and deleted = 0
    </select>
</mapper>