<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgs.mapper.GoodsSkuInfoMapper">

    <resultMap id="GoodsSkuInfoMap" type="com.wgs.entity.GoodsSkuInfo">

        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="sku_id" property="skuId"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="big_img" property="bigImg"/>
        <result column="created_id" property="createdId"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		wgs_goods_sku_info
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		id,
		goods_id,
		sku_id,
		name,
		img,
		big_img,
		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{goodsId, jdbcType=INTEGER},
		#{skuId, jdbcType=INTEGER},
		#{name, jdbcType=VARCHAR},
		#{img, jdbcType=VARCHAR},
		#{bigImg, jdbcType=VARCHAR},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

    <!-- 查询全部记录 -->
    <select id="findAll" resultMap="GoodsSkuInfoMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        deleted = 0
    </select>

    <!-- 新增-->
    <insert id="insert" parameterType="com.wgs.entity.GoodsSkuInfo" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
        <include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="bigImg != null">
                big_img,
            </if>
            <if test="createdId != null">
                created_id,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="goodsId != null">
                #{goodsId},
            </if>
            <if test="skuId != null">
                #{skuId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="bigImg != null">
                #{bigImg},
            </if>
            <if test="createdId != null">
                #{createdId},
            </if>
            <if test="modifiedId != null">
                #{modifiedId},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.wgs.entity.GoodsSkuInfo">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="bigImg != null">
                big_img = #{bigImg},
            </if>
            <if test="createdId != null">
                created_id = #{createdId},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过编号查询 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="GoodsSkuInfoMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id = #{id}
    </select>

    <select id="findByIds" resultMap="GoodsSkuInfoMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>