<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgs.mapper.MemberGoodsCarMapper">

    <resultMap id="MemberGoodsCarMap" type="com.wgs.entity.MemberGoodsCar">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="sku_group_id" property="skuGroupId"/>
        <result column="num" property="num"/>
        <result column="created_id" property="createdId"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="MemberGoodsCarDTOMap" type="com.wgs.dto.goods.GoodsCarDTO"
               extends="com.wgs.mapper.GoodsMapper.GoodsDTOMap">
        <result column="num" property="num"></result>
        <result column="goods_sku_info_ids" property="goodsSkuInfoIds"></result>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		wgs_member_goods_car
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		id,
		goods_id,
		sku_group_id,
		num,
		member_id,
		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{goodsId, jdbcType=INTEGER},
		#{skuGroupId, jdbcType=INTEGER},
		#{num, jdbcType=INTEGER},
		#{member_id, jdbcType=INTEGER},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

    <!-- 查询全部记录 -->
    <select id="findAll" resultMap="MemberGoodsCarMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        deleted = 0
    </select>

    <!-- 新增-->
    <insert id="insert" parameterType="com.wgs.entity.MemberGoodsCar" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
        <include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="skuGroupId != null">
                sku_group_id,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="createdId != null">
                created_id,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="goodsId != null">
                #{goodsId},
            </if>
            <if test="skuGroupId != null">
                #{skuGroupId},
            </if>
            <if test="num != null">
                #{num},
            </if>
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="createdId != null">
                #{createdId},
            </if>
            <if test="modifiedId != null">
                #{modifiedId},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.wgs.entity.MemberGoodsCar">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="skuGroupId != null">
                sku_group_id = #{skuGroupId},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="createdId != null">
                created_id = #{createdId},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过编号查询 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="MemberGoodsCarMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id = #{id}
    </select>

    <select id="countBySkuGroupId" resultType="java.lang.Integer">
        SELECT count(0) from wgs_member_goods_car
        WHERE deleted = 0 and member_id = #{memberId} and sku_group_id = #{skuGroupId}
    </select>

    <update id="updateNumBySkuGroupId">
        UPDATE wgs_member_goods_car SET
        num = num + #{num}
        WHERE deleted = 0 and member_id = #{memberId} and sku_group_id = #{skuGroupId}
    </update>

    <update id="deleteBySkuGroupId">
        UPDATE wgs_member_goods_car SET
        deleted = 1
        WHERE deleted = 0 and member_id = #{memberId} and sku_group_id = #{skuGroupId}
    </update>

    <select id="findByMember" resultMap="MemberGoodsCarDTOMap">
        select g.goods_name,g.goods_sn,g.cover,c.num,c.sku_group_id,i.price,i.goods_sku_info_ids from wgs_goods_car c
        left JOIN wgs_goods g
        on c.goods_id = g.id
        LEFT JOIN wgs_goods_sku_group i
        on i.id = c.sku_group_id
        where member_id = #{memberId}
    </select>
</mapper>