<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgs.mapper.MemberTokenMapper">

<resultMap id="MemberTokenMap" type="com.wgs.entity.MemberToken">

		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="access_token" property="accessToken" />
		<result column="expire_time" property="expireTime" />
		<result column="member_id" property="memberId" />
		<result column="refresh_token" property="refreshToken" />
		<result column="created_id" property="createdId" />
		<result column="modified_id" property="modifiedId" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="deleted" property="deleted" />
    </resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		wgs_member_token
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,
		access_token,
		expire_time,
		member_id,
		refresh_token,
		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{accessToken, jdbcType=VARCHAR},
		#{expireTime, jdbcType=DATETIME},
		#{memberId, jdbcType=INTEGER},
		#{refreshToken, jdbcType=VARCHAR},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

	<!-- 查询全部记录 -->
    <select id="findAll" resultMap="MemberTokenMap">
        SELECT
        	<include refid="Field"></include>
        FROM
        	<include refid="tableName"></include>
		WHERE
			deleted = 0
    </select>
	
	<!-- 新增-->
<insert id="insert" parameterType="com.wgs.entity.MemberToken" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
			<include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
            </if>
            <if test="accessToken != null">
				access_token,
            </if>
            <if test="expireTime != null">
				expire_time,
            </if>
            <if test="memberId != null">
				member_id,
            </if>
            <if test="refreshToken != null">
				refresh_token,
            </if>
            <if test="createdId != null">
				created_id,
            </if>
            <if test="modifiedId != null">
				modified_id,
            </if>
            <if test="createdTime != null">
				created_time,
            </if>
            <if test="modifiedTime != null">
				modified_time,
            </if>
            <if test="deleted != null">
				deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
            </if>
            <if test="accessToken != null">
				#{accessToken},
            </if>
            <if test="expireTime != null">
				#{expireTime},
            </if>
            <if test="memberId != null">
				#{memberId},
            </if>
            <if test="refreshToken != null">
				#{refreshToken},
            </if>
            <if test="createdId != null">
				#{createdId},
            </if>
            <if test="modifiedId != null">
				#{modifiedId},
            </if>
            <if test="createdTime != null">
				#{createdTime},
            </if>
            <if test="modifiedTime != null">
				#{modifiedTime},
            </if>
            <if test="deleted != null">
				#{deleted},
            </if>
        </trim>
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Integer">
		UPDATE
			<include refid="tableName"></include>
		SET
			deleted = 1
		WHERE
			id = #{id}
	</delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        	<include refid="tableName"></include>
		SET
			deleted = 1
        WHERE
			id IN
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
    </delete>
	
	<!-- 更新记录 -->
<update id="update" parameterType="com.wgs.entity.MemberToken">
		UPDATE
			<include refid="tableName"></include>
        <set>
			<if test="accessToken != null">
				access_token = #{accessToken},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime},
			</if>
			<if test="memberId != null">
				member_id = #{memberId},
			</if>
			<if test="refreshToken != null">
				refresh_token = #{refreshToken},
			</if>
			<if test="createdId != null">
				created_id = #{createdId},
			</if>
			<if test="modifiedId != null">
				modified_id = #{modifiedId},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime},
			</if>
			<if test="deleted != null">
				deleted = #{deleted},
			</if>
        </set>
        WHERE id = #{id}
	</update>
	
	<!-- 通过编号查询 -->
	<select id="findById" parameterType="java.lang.Integer" resultMap="MemberTokenMap">
		SELECT
			<include refid="Field"></include>
		FROM
			<include refid="tableName"></include>
		WHERE id = #{id}
	</select>

	<select id="findByMemberId" resultMap="MemberTokenMap">
		select * from wgs_member_token where member_id = #{memberId} and deleted = 0
	</select>
</mapper>