<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgs.mapper.TopicMapper">

    <resultMap id="TopicMap" type="com.wgs.entity.Topic">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="desc" property="desc"/>
        <result column="img" property="img"/>
        <result column="sort" property="sort"/>
        <result column="color" property="color"/>
        <result column="created_id" property="createdId"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="TopicDTOMap" type="com.wgs.dto.topic.TopicDTO" extends="TopicMap">
        <collection property="goodsList" select="findTopicGoods" column="{id=id,recommend=recommend}"></collection>
    </resultMap>

    <resultMap id="TopicInfoDTOMap" type="com.wgs.dto.topic.TopicDTO" extends="TopicMap">

    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		wgs_topic
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		id,
		name,
		title,
		`desc`,
		img,
		sort,

		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{name, jdbcType=VARCHAR},
		#{title, jdbcType=VARCHAR},
		#{desc, jdbcType=VARCHAR},
		#{img, jdbcType=VARCHAR},
		#{sort, jdbcType=INTEGER},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

    <!-- 查询全部记录 -->
    <select id="findAll" resultMap="TopicMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        deleted = 0
    </select>

    <!-- 新增-->
    <insert id="insert" parameterType="com.wgs.entity.Topic" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
        <include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="createdId != null">
                created_id,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="createdId != null">
                #{createdId},
            </if>
            <if test="modifiedId != null">
                #{modifiedId},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.wgs.entity.Topic">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="desc != null">
                desc = #{desc},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createdId != null">
                created_id = #{createdId},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过编号查询 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="TopicMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="TopicDTOMap">
        SELECT id,`name`,title,`desc`,`img`,color,1 as recommend from wgs_topic
        where deleted = 0
        ORDER BY sort desc
    </select>

    <select id="findInfoById" resultMap="TopicInfoDTOMap">
        SELECT id,`name`,title,`desc`,`img` from wgs_topic
        WHERE  deleted = 0 and id = #{id}
    </select>

    <select id="findTopicGoods" resultMap="com.wgs.mapper.GoodsMapper.GoodsDTOMap">
        SELECT g.id,goods_name,g.goods_sn,`desc`,price,cover from wgs_goods g
        LEFT JOIN wgs_topic_goods t
        on t.goods_id = g.id
        where t.topic_id = #{id} and t.deleted = 0 and g.deleted = 0 and g.status = 0
        <if test="recommend != null">
            and recommend = #{recommend}
        </if>
        order by sort desc
    </select>
</mapper>